.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: #1eaedB;
	cursor: pointer;
	padding: 12px 40px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
  color: #fff;
  border-radius: 4px;
}
